---
import BaseLayout from '../layouts/BaseLayout.astro';
const baseUrl = import.meta.env.BASE_URL;
---
<BaseLayout headerActive="about">
  <Fragment slot={"slider_section"} >
    <h5>Sobre Nosotros</h5>
  </Fragment>
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sobre Nosotros
              </h2>
            </div>
            <p>
              Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría han sufrido alteraciones
              de alguna forma, por humor inyectado, o palabras aleatorias que no parecen ni siquiera creíbles. Si vas
              a usar un pasaje de Lorem Ipsum, debes asegurarte de que no haya nada embarazoso oculto en el texto. Todo
            </p>
            <a href="">
              Leer Más
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src={`${baseUrl}images/about-img.png`} alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_detail">
            <h4>
              Acerca de
            </h4>
            <p>
              Necesario, haciendo de este el primer generador verdadero en Internet. Utiliza un diccionario de más de 200 palabras latinas, combinado con un puñado
            </p>
            <div class="info_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Dirección
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Llama al +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Suscríbete
            </h4>
            <form action="#">
              <input type="text" placeholder="Ingresa tu correo" />
              <button type="submit">
                Suscribirse
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- ...existing code... -->
</BaseLayout>