---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout headerActive="contact">
  <Fragment slot={"slider_section"} >
    <h5>Contactanos</h5>
  </Fragment>

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="why_box">
            <div class="heading_container">
              <h2>
                ¿Por qué elegirnos?
              </h2>
              <div class="box">
                <div class="img-box">
                  <img src="images/w1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Clientes Satisfechos
                  </h5>
                  <p>
                    Officia expedita sequi dolorum error consectetur, quos provident repudiandae at, rerum veniam doloremque velit eius
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="img-box">
                  <img src="images/w2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Seguimiento de Envíos
                  </h5>
                  <p>
                    Officia expedita sequi dolorum error consectetur, quos provident repudiandae at, rerum veniam doloremque velit eius
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="img-box">
                  <img src="images/w3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Soporte al Cliente
                  </h5>
                  <p>
                    Officia expedita sequi dolorum error consectetur, quos provident repudiandae at, rerum veniam doloremque velit eius
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contáctanos
              </h2>
            </div>
            <form action="">
              <input type="text" placeholder="Tu Nombre" />
              <input type="text" placeholder="Teléfono" />
              <input type="email" placeholder="Correo Electrónico" />
              <input type="text" class="message-box" placeholder="Mensaje" />
              <div class="btn_box">
                <button>
                  ENVIAR
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_detail">
            <h4>
              Acerca de
            </h4>
            <p>
              Necesario, haciendo de este el primer generador verdadero en Internet. Utiliza un diccionario de más de 200 palabras latinas, combinado con un puñado
            </p>
            <div class="info_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Dirección
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Llama al +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Suscríbete
            </h4>
            <form action="#">
              <input type="text" placeholder="Ingresa tu correo" />
              <button type="submit">
                Suscribirse
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</BaseLayout>