---
import BaseLayout from '../layouts/BaseLayout.astro';
const baseUrl = import.meta.env.BASE_URL;
---
<BaseLayout headerActive="services">
  <Fragment slot={"slider_section"} >
    <h5>Nuestros Servicios</h5>
  </Fragment>


  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Nuestros Servicios
          </h2>
          <p>
            Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría han sufrido alteraciones
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mx-auto ">
            <div class="box ">
              <div class="img-box">
                <img src={`${baseUrl}images/s1.jpg`} alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Transporte Terrestre
                </h5>
                <p>
                  el hecho de que un lector se distraerá con el contenido legible de una página al mirar su diseño.
                  El
                  punto de usar
                </p>
                <a href="">
                  Leer Más
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto ">
            <div class="box ">
              <div class="img-box">
                <img src={`${baseUrl}images/s2.jpg`} alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Carga Aérea
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto ">
            <div class="box ">
              <div class="img-box">
                <img src={`${baseUrl}images/s3.jpg`} alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Transporte Marítimo
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_detail">
            <h4>
              Acerca de
            </h4>
            <p>
              Necesario, haciendo de este el primer generador verdadero en Internet. Utiliza un diccionario de más de 200 palabras latinas, combinado con un puñado
            </p>
            <div class="info_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Dirección
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Llama al +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="info_contact">
            <h4>
              Suscríbete
            </h4>
            <form action="#">
              <input type="text" placeholder="Ingresa tu correo" />
              <button type="submit">
                Suscribirse
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info-col">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</BaseLayout>