<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> Todos los derechos reservados.
    </p>
  </div>
</footer>
<!-- footer section -->
